<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/StorageApiDb</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
         <property name="connection.username">StorageApiUser</property>
         <property name="connection.password">0101</property>
        <mapping class="api.storage.models.ProductNamesEntity"/>
        <mapping resource="ProductNamesEntity.hbm.xml"/>
        <mapping class="api.storage.models.StorageEntity"/>
        <mapping resource="StorageEntity.hbm.xml"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>